---
import App from "../components/App";
import "../globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/512.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Exchange App</title>
  </head>
  <body class="bg-slate-100">
    <App client:only />
  </body>
</html>
